.header-box
{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.developer-form-box
{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: fit-content;
    block-size: fit-content;
    font-family: 'Raleway', sans-serif;
}

.developer-text
{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

* 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-hover 
{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover 
{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus 
{
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


.btn-hover.color-2 
{
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}


.btn-hover.color-3
{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-4
{
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover.color-5
{
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.footer
{
    position:fixed;
    bottom:0;
    left:0;
}

@media only screen and (max-height: 740px) 
{
    .footer 
    {
      position:relative;
    }
}

.sidebar-left
{
    /*background-color: red;*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    float:left;
    height: 100%;
    width:300px;
}

.sidebar-right
{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    float:right;
    height: 100%;
    width:400px;
}

.sidebar-image
{
    padding-top: 10px;
    height: 150px; 
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) 
{
    .sidebar-left
    {
        float:none;
        width:100%;
        height:auto;
        word-wrap:break-word;
        display:flex !important;
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 900px) 
{
    .sidebar-right
    {
        float:none;
        width:100%;
        height:0px;
        word-wrap:break-word;
        display:none !important;
    }
}

@media only screen and (max-width: 600px) 
{
    .sidebar-image
    {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.footer-box
{
    height: auto;
    width: 100%;
}

.header-text
{
    font-family: 'Raleway', sans-serif; 
    font-size: 70px;
}

.header-secondary-text
{
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
}

.footer-text 
{
    font-family: 'Raleway', sans-serif; 
    color: gray;
    font-size: 15px;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-custom-scrollbar 
{
    position: relative;
    height: 100%;
    overflow: auto;
}

.table-wrapper-scroll-y 
{
    display: block;
}

.table-header-text
{
    font-weight: bold;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'Cormorant', serif;
    font-size: 25px;
}


